.about img {
    box-shadow: 10px 10px 20px 10px#000;
    border-radius: 10px;
}

.about {
    position: relative;
    cursor: pointer;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-cards:hover .flip-image {
    transform: rotateY(180deg);
    transition: 1.2s all;
}

.flip-cards .flip-back p  {
    position: absolute;
    top: 0;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flip-cards:hover .flip-back p {
    transform: translate(0);
    transition: 1.2s all;
}

.hover-me {
    position: absolute;
    top: -30px;
    left: -50%;
}
