.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#footer {
    padding: 0 20px;
}

.footer img {
    width: 100px;
    height: auto;
}